<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jwrt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TdyBTRFID"
        android:name="com.company.tdybtrfid.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.company.tdybtrfid.ExpandedImageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.company.tdybtrfid.MainActivity"
            android:exported="true"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.company.tdybtrfid.Sub4TabActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.Sub1TabActivity"
            android:theme="@style/AlertNoActionBar"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.Sub3TabActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.SubDebugActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.SubBlueSetTabActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.SubSystemActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.OprationBLEActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait">
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.SubCustomActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.company.tdybtrfid.SubPathActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>
    </application>

</manifest>